table {
    display: inline-table;
    width: 45%;
    height: 500px;
    border-collapse: collapse;
}

#player-board th:first-child {
    border: none !important;
}

#computer-board th:last-child {
    border: none !important;
}

th, td {
    border: 1px solid lightslategray;
    height: 50px;
    width: 50px;
}

#computer-board {
    float: right;
}

.row-number {
    font-weight: bold;
    text-align: center;
}

.hit-box {
    cursor: pointer;
    text-align: center;
    background-color: rgb(228, 228, 228);;
}

.miss {
    background-color: lightslategray;
}

.hit {
    background-color: rgb(180, 42, 37);
}

.ship {
    background-color: rgb(63, 63, 63);
}