table {
    display: inline-table;
    width: 45%;
    height: 500px;
    border-collapse: collapse;
}

#player-board th:first-child {
    border: none !important;
}

#computer-board th:last-child {
    border: none !important;
}

th, td {
    border: 1px solid lightslategray;
    height: 50px;
    width: 50px;
}

#computer-board {
    float: right;
}

.row-number {
    font-weight: bold;
    text-align: center;
}

.hit-box {
    cursor: pointer;
    text-align: center;
    background-color: rgb(228, 228, 228);;
}

.miss {
    background-color: lightslategray !important;
}

.hit {
    background-color: rgb(180, 42, 37) !important;
}

.ship {
    background-color: rgb(63, 63, 63);
}

.alert-notes {
    width: 49%;
    margin-top: 15px;
    margin-bottom: 15px;
}
#game-alerts-player {
    float: left;
}
#game-alerts-computer {
    float: right;
}
#alert-label-player {
    text-align: left;
    font-size: 18px;
}
#alert-label-computer {
    text-align: right;
    font-size: 18px;
}
#textarea-computer {
    text-align: right;
}
.alert-label {
    display: block;
}
textarea {
    width: 100%;
}

.scoreboard {
    /* text-align: center;
    margin-bottom: 15px; */
    display: flex;
    justify-content: space-around;
}
#player-score, #computer-score {
    font-size: 25px;
}

#loginInfo {
    text-align: right;
    font-size: 1.2em;
}

.button {
    background-color: rgb(241, 241, 241);
    padding: 5px 10px 5px 10px;
    border: none;
    box-shadow: 2px 2px 4px;
    margin: 10px;
    cursor: pointer;
}